In [1]:
import pandas as pd

In [21]:
df = pd.read_excel(r"C:\Users\ChengChen Xu\Desktop\0531.xlsx",sheet_name="Sheet2",header=1)

,行标签,AK000003,BFD000037,BFD000038,BFD000040,BFD000044,BFD000045,BFD000046,BFD000069,BFD000072,...,ZBS000115,ZBS000256,ZBS000283,ZBS000290,ZBS000291,ZBS000292,ZBS000293,ZBS000298,ZP000343,总计
0,JY2022052631257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
1,JY2022052631258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
2,JY2022052631259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
3,JY2022052631260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4,JY2022052631261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38370,JY202205312699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
38371,JY202205312700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
38372,JY202205312701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
38373,JY202205312702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
38374,总计,1098.0,83.0,19.0,2.0,47.0,61.0,1.0,1.0,4.0,...,428.0,442.0,787.0,219.0,209.0,49.0,18.0,2411.0,27.0,96666

In [17]:
df

Key                Keynan
AK000003      AK000003nan
BFD000037    BFD000037nan
BFD000038    BFD000038nan
BFD000040    BFD000040nan
                 ...
ZBS000291    ZBS000291nan
ZBS000292    ZBS000292nan
ZBS000293    ZBS000293nan
ZBS000298    ZBS000298nan
ZP000343      ZP000343nan
Name: 1, Length: 263, dtype: object

In [ ]:
for i