# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚

ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

# 1 - æ•°æ®åŠ è½½ä¸å­˜å‚¨

æ˜¯çš„ï¼Œå¸¸å¸¸è¢«å¿½ç•¥çš„ã€Œ<font color=#E36C07>**æ•°æ®åŠ è½½ä¸å­˜å‚¨**</font>ã€ä¹Ÿå¤§æœ‰é—¨é“ä¸”å€¼å¾—ä½œä¸ºæœ¬å¥—ä¹ é¢˜çš„å¼€é—¨ä¹‹ç« ã€‚

åœ¨ä¸€æ¬¡æ•°æ®åˆ†æçš„è¿‡ç¨‹ä¸­ï¼Œä½ å¯èƒ½åªä¼šè¯»å–æˆ–å­˜å‚¨ä¸€ä¸¤æ¬¡æ•°æ®é›†ã€‚

**ä½†è‹¥èƒ½çµæ´»æŒæ¡å„é¡¹è®¾ç½®ï¼Œåœ¨è¯»å–é˜¶æ®µå°±å°†æ•°æ®ç­›é€‰ã€åŒ¹é…ã€æ ¼å¼æŒ‡å®šç­‰æ“ä½œå®Œæˆï¼Œæœ‰æ—¶ä¼šä¸ºæˆ‘ä»¬èŠ‚çœå¤§é‡æ—¶é—´ã€‚**

åœ¨æœ¬èŠ‚ä¹ é¢˜ä¸­ï¼Œæˆ‘å°† pandas æ•°æ®åˆ†æä¸­å¸¸è§çš„æ•°æ®è¯»å–ä¸å­˜å‚¨æ“ä½œè¿›è¡Œæ•´ç†ã€‚

<font color=#E36C07>**æ—¢å¯ä»¥ç”¨äºå·©å›ºã€å­¦ä¹ å„ç§æ“ä½œï¼Œä¹Ÿå¯ä»¥ä½œä¸ºé€ŸæŸ¥æ‰‹å†Œä½¿ç”¨**</font>ã€‚

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**çº¯ä¹ é¢˜ç‰ˆ**

å¦‚æœéœ€è¦ç­”æ¡ˆæˆ–è€…æç¤ºï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€è·å–ï¼

## 1-1 æ•°æ®è¯»å–

### 1 è¯»å– Excel æ–‡ä»¶

<br>

- è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶

- è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.xlsx` æ–‡ä»¶

**æ³¨æ„**ï¼šä½¿ç”¨ `pandas` è¯»å– `CSV` ä¸ è¯»å– `xlsx` æ ¼å¼çš„ `Excel` æ–‡ä»¶æ–¹æ³•å¤§è‡´ç›¸åŒ

å› æ­¤æ¥ä¸‹æ¥ä¸ `Excel` ç›¸å…³çš„æ“ä½œå‡ä»¥ `CSV` æ ¼å¼è¿›è¡Œå‡ºé¢˜ã€‚

In [1]:
import sys 

sys.path
sys.path.append
 
# sys.path.appendç”¨æ³•

In [1]:
import pandas as pd
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")

data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,"['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,6884346,æ•°æ®åˆ†æå¸ˆ,21236,500-2000äºº,"ç§»åŠ¨äº’è”ç½‘,åŒ»ç–—ä¸¨å¥åº·",Cè½®,"['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
101,6849100,å•†ä¸šæ•°æ®åˆ†æ,72076,500-2000äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Cè½®,"['èŠ‚æ—¥ç¤¼ç‰©', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡', 'å¹´åº¦æ—…æ¸¸']",å¸‚åœº|å•†åŠ¡ç±»,å¸‚åœº|è¥é”€,å•†ä¸šæ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
102,6803432,å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶,751158,150-500äºº,ç§»åŠ¨äº’è”ç½‘,ä¸éœ€è¦èèµ„,[],å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
103,6704835,BIæ•°æ®åˆ†æå¸ˆ,52840,2000äººä»¥ä¸Š,ç”µå•†,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
104,6728058,æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029),2474,2000äººä»¥ä¸Š,æ±½è½¦ä¸¨å‡ºè¡Œ,ä¸éœ€è¦èèµ„,"['å¼¹æ€§å·¥ä½œ', 'èŠ‚æ—¥ç¤¼ç‰©', 'å²—ä½æ™‹å‡', 'æŠ€èƒ½åŸ¹è®­']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,å…¶ä»–æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True

In [ ]:
data = pd.read_excel("TOP250.xlsx")

data

### 2 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šä½ç½®

åœ¨å¤§å¤šæ•°æƒ…å†µä¸‹ï¼Œæˆ‘ä»¬ä¼šå°† `notebook` å’Œæ•°æ®æºæ–‡ä»¶æ”¾åœ¨åŒä¸€ä¸ªç›®å½•ï¼ˆæ–‡ä»¶å¤¹ä¸‹ï¼‰ï¼Œè¿™æ ·ç›´æ¥ä½¿ç”¨`pd.read_xxx("æ–‡ä»¶å")`å³å¯æˆåŠŸè¯»å–ã€‚
 
ä½†æœ‰æ—¶éœ€è¦è¯»å–çš„æ–‡ä»¶å’Œ `notebook` ä¸åœ¨åŒä¸€ä¸ªç›®å½•ä¸‹ï¼Œè¿™æ—¶å¯ä»¥ä½¿ç”¨ç»å¯¹è·¯å¾„æˆ–è€…ç›¸å¯¹æœ¬ `notebook` çš„è·¯å¾„ã€‚

ç°åœ¨è¯·è¯»å–æœ¬å¥—ä¹ é¢˜ä¸­ç¬¬äºŒç« èŠ‚ä¸‹çš„æ•°æ®ï¼Œå³ `2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv`

In [ ]:
data = pd.read_csv("../2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv")

data

###  3 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆé¡ºåºï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ <font color = '#5F5FFC'>å‰20è¡Œ</font>

In [ ]:
# nrows

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",nrows=20)

###  4 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆè·³è¿‡ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶å¹¶<font color = '#5F5FFC'>è·³è¿‡å‰20è¡Œ</font>

In [ ]:
# skiprows

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",skiprows=[i for i in range(1,21)])

In [ ]:
pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",skiprows=20)

###  5 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆæ¡ä»¶ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ä¸­å…¨éƒ¨<font color = '#5F5FFC'>å¶æ•°è¡Œ</font>

æ€è€ƒï¼šå¦‚æœæ˜¯è¯»å–å…¨éƒ¨å¥‡æ•°è¡Œï¼Œæˆ–è€…æ›´å¤šæ»¡è¶³æŒ‡å®šæ¡ä»¶çš„è¡Œå‘¢ï¼Ÿ

In [ ]:
# skiprows 

pd.read_csv('æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv', skiprows=lambda x: (x != 0) and not x % 2)

In [ ]:
pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv").iloc[::2,:]

In [ ]:
pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv").iloc[1::2,:]

### 6 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—å·ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—å·è¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ç¬¬ `1ã€3ã€5` åˆ—

In [ ]:
# usecols

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",usecols=[0,2,4])

###  7 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—åï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—åè¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—

In [ ]:
# usecols

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",usecols=["positionId","positionName","salary"])

In [ ]:
pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv").reindex(["positionId","positionName","salary"],axis=1)

###  8 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåŒ¹é…ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—ååŒ¹é…è¯»å–**

è®©æˆ‘ä»¬æ¥ä¸ªæ›´éš¾ä¸€ç‚¹çš„ï¼Œè¿˜æ˜¯è¯»å– `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œä½†ç°åœ¨æœ‰ä¸€ä¸ª list ä¸­åŒ…å«å¤šä¸ªå­—æ®µğŸ‘‡

`usecols = ['positionId','test','positionName', 'test1','salary']`

å¦‚æœ `usecols` ä¸­çš„åˆ—åå­˜åœ¨äº `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` ä¸­ï¼Œåˆ™è¯»å–ã€‚

In [ ]:
# usecols åˆ—åä½œä¸ºå‡½æ•°çš„å‚æ•°

usecols = ['positionId','test','positionName', 'test1','salary']
pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",usecols = lambda c: c in usecols)

### 9 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šç´¢å¼•

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶åœ¨è¯»å–æ—¶å°† `positionId` è®¾ç½®ä¸ºç´¢å¼•åˆ—

In [ ]:
# index_col

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",index_col="positionId")

###  10 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ‡é¢˜

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—ï¼Œå¹¶å°†æ ‡é¢˜è®¾ç½®ä¸º `IDã€å²—ä½åç§°ã€è–ªèµ„`

In [42]:
#usecolsã€namesã€header 

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",header=0,usecols=[0,1,17],names=["ID","å²—ä½åç§°","è–ªèµ„"])

          ID                   å²—ä½åç§°     è–ªèµ„
0    6802721                   æ•°æ®åˆ†æ  37500
1    5204912                   æ•°æ®å»ºæ¨¡  15000
2    6877668                   æ•°æ®åˆ†æ   3500
3    6496141                   æ•°æ®åˆ†æ  45000
4    6467417                   æ•°æ®åˆ†æ  30000
..       ...                    ...    ...
100  6884346                  æ•°æ®åˆ†æå¸ˆ  25000
101  6849100                 å•†ä¸šæ•°æ®åˆ†æ  35000
102  6803432        å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶  30000
103  6704835                BIæ•°æ®åˆ†æå¸ˆ  20000
104  6728058  æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029)  21500

[105 rows x 3 columns]

###  11 è¯»å– Excel æ–‡ä»¶ï½œç¼ºå¤±å€¼è½¬æ¢

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶ä¸å°†ç¼ºå¤±å€¼æ ‡è®°ä¸º `NA`**

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¦è¿™æ ·åšï¼Ÿ

In [ ]:
# https://zhuanlan.zhihu.com/p/353220004

In [ ]:
# keep_default_na

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",keep_default_na=False)

###  12 è¯»å– Excel æ–‡ä»¶ï½œç¼ºå¤±å€¼æ ‡è®°

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶å°†`[]`æ ‡è®°ä¸ºç¼ºå¤±å€¼**

In [ ]:
# na_values

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",na_values="[]")

### 13 è¯»å– Excel æ–‡ä»¶ï½œå¿½ç•¥ç¼ºå¤±å€¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**ä½†ä¸å¤„ç†ç¼ºå¤±å€¼**

æ€è€ƒï¼šå’Œä¹‹å‰çš„æœ‰ä»€ä¹ˆä¸åŒï¼Œä¸ºä»€ä¹ˆè¿™ä¹ˆåšï¼Ÿ

In [ ]:
# Windowsä¸­æ–‡æ“ä½œç³»ç»Ÿçš„é»˜è®¤ç¼–ç æ˜¯gbkï¼Œå› æ­¤ä¼šæŒ‰ç…§gbkç¼–ç æ¥æ‰“å¼€æ–‡ä»¶ï¼Œç„¶è€Œæˆ‘ä»¬æ•°æ®æ–‡ä»¶çš„ç¼–ç æ˜¯utf-8ï¼Œå› æ­¤å‡ºç°äº†ä¹±ç ã€‚
# è§£å†³åŠæ³•å°±æ˜¯ç»™openå‡½æ•°æŒ‡å®šæ­£ç¡®çš„ç¼–ç 


pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",na_filter=False)

### 14 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ¼å¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `positionId,companyId` è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [ ]:
# dtype

pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",dtype={"positionId":str,"companyId":str})

### 15 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ¼å¼ï¼ˆæ—¶é—´ï¼‰

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `createTime` åˆ—è®¾ç½®ä¸ºæ—¶é—´æ—¥æœŸæ ¼å¼

In [46]:
# parse_dates:æŒ‡å®šåˆ—å·æˆ–åˆ—ååˆ—è¡¨æ¥è§£æ

df1 = pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",parse_dates=["createTime"])
df1["createTime"]

0     2020-03-16 11:00:00
1     2020-03-16 11:08:00
2     2020-03-16 10:33:00
3     2020-03-16 10:10:00
4     2020-03-16 09:56:00
              ...
100   2020-03-11 16:45:00
101   2020-03-14 17:38:00
102   2020-03-14 22:39:00
103   2020-03-09 15:00:00
104   2020-03-13 18:24:00
Name: createTime, Length: 105, dtype: datetime64[ns]

In [47]:
df1 = pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")
df1["createTime"]

0      2020/3/16 11:00
1      2020/3/16 11:08
2      2020/3/16 10:33
3      2020/3/16 10:10
4       2020/3/16 9:56
            ...
100    2020/3/11 16:45
101    2020/3/14 17:38
102    2020/3/14 22:39
103     2020/3/9 15:00
104    2020/3/13 18:24
Name: createTime, Length: 105, dtype: object

### 16 è¯»å– Excel æ–‡ä»¶ï½œåˆ†å—è¯»å–


<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œè¦æ±‚è¿”å›ä¸€ä¸ªå¯è¿­ä»£å¯¹è±¡ï¼Œæ¯æ¬¡è¯»å– 10 è¡Œ

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¿™æ ·åšï¼Ÿ

In [51]:
# chunksize 

df1 = pd.read_csv("./æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",chunksize=10)

### 17 è¯»å– txt æ–‡ä»¶ï½œå¸¸è§„

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ã€‚

æ³¨æ„ï¼šåœ¨æ¥ä¸‹æ¥çš„å‡ ç§æ ¼å¼æ–‡ä»¶è¯»å–ä¸­ï¼Œå¯¹äºä¹‹å‰é‡å¤çš„å‚æ•°/åŠŸèƒ½å°†ä¸å†æ•´ç†ï¼Œä»…ä»‹ç»è¯»å–åŠŸèƒ½ã€‚

In [58]:
# sep=

pd.read_csv("Titanic.txt",sep="\t")

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### 18 è¯»å– txt æ–‡ä»¶ï½œå«ä¸­æ–‡

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.txt` æ–‡ä»¶ã€‚

In [61]:
# encodingã€sep

pd.read_csv("TOP250.txt",encoding="gbk",sep="\t")

,ç‰‡å,ä¸Šæ˜ å¹´ä»½,è¯„åˆ†,è¯„ä»·äººæ•°,å¯¼æ¼”,ç¼–å‰§,ä¸»æ¼”,ç±»å‹,å›½å®¶/åœ°åŒº,è¯­è¨€,æ—¶é•¿(åˆ†é’Ÿ)
0,è‚–ç”³å…‹çš„æ•‘èµ,1994,9.7,2317937,å¼—å…°å…‹Â·å¾·æ‹‰é‚¦ç‰¹,å¼—å…°å…‹Â·å¾·æ‹‰é‚¦ç‰¹ / æ–¯è’‚èŠ¬Â·é‡‘,è’‚å§†Â·ç½—å®¾æ–¯ / æ‘©æ ¹Â·å¼—é‡Œæ›¼ / é²å‹ƒÂ·å†ˆé¡¿ / å¨å»‰å§†Â·èµ›å¾·å‹’ / å…‹å…°è¥¿Â·å¸ƒæœ— / å‰...,å‰§æƒ… / çŠ¯ç½ª,ç¾å›½,è‹±è¯­,142
1,éœ¸ç‹åˆ«å§¬,1993,9.6,1720638,é™ˆå‡¯æ­Œ,èŠ¦è‹‡ / æç¢§å,å¼ å›½è£ / å¼ ä¸°æ¯… / å·©ä¿ / è‘›ä¼˜ / è‹±è¾¾ / è’‹é›¯ä¸½ / å´å¤§ç»´ / å•é½ / é›·æ±‰...,å‰§æƒ… / çˆ±æƒ… / åŒæ€§,ä¸­å›½,æ±‰è¯­æ™®é€šè¯,171
2,é˜¿ç”˜æ­£ä¼,1994,9.5,1743966,ç½—ä¼¯ç‰¹Â·æ³½ç±³å‰æ–¯,è‰¾ç‘å…‹Â·ç½—æ–¯ / æ¸©æ–¯é¡¿Â·æ ¼é²å§†,æ±¤å§†Â·æ±‰å…‹æ–¯ / ç½—å®¾Â·æ€€ç‰¹ / åŠ é‡ŒÂ·è¥¿å°¼æ–¯ / éº¦å‡¯å°”æ³°Â·å¨å»‰é€Š / èè‰Â·è²å°”å¾· / ...,å‰§æƒ… / çˆ±æƒ…,ç¾å›½,è‹±è¯­,142
3,è¿™ä¸ªæ€æ‰‹ä¸å¤ªå†·,1994,9.4,1922740,å•å…‹Â·è´æ¾,å•å…‹Â·è´æ¾,è®©Â·é›·è¯º / å¨œå¡”è‰Â·æ³¢ç‰¹æ›¼ / åŠ é‡ŒÂ·å¥¥å¾·æ›¼ / ä¸¹å°¼Â·çˆ±ç½— / å½¼å¾—Â·é˜¿ä½©å°” / è¿ˆå…‹å°”...,å‰§æƒ… / åŠ¨ä½œ / çŠ¯ç½ª,æ³•å›½,è‹±è¯­,110
4,æ³°å¦å°¼å…‹å·,1997,9.4,1706127,è©¹å§†æ–¯Â·å¡æ¢…éš†,è©¹å§†æ–¯Â·å¡æ¢…éš†,è±æ˜‚çº³å¤šÂ·è¿ªå¡æ™®é‡Œå¥¥ / å‡¯ç‰¹Â·æ¸©ä¸è±ç‰¹ / æ¯”åˆ©Â·èµæ© / å‡¯è¥¿Â·è´èŒ¨ / å¼—å…°è¥¿ä¸Â·è´¹èˆ...,å‰§æƒ… / çˆ±æƒ… / ç¾éš¾,ç¾å›½,è‹±è¯­,194
...,...,...,...,...,...,...,...,...,...,...,...
245,æµªæ½®,2008,8.7,223511,ä¸¹å°¼æ–¯Â·ç”˜å¡å°”,ä¸¹å°¼æ–¯Â·ç”˜å¡å°” / å½¼å¾—Â·å›¾ä¸‡æ–¯ / çº¦ç¿°å°¼Â·é“é‡‘æ–¯ / ç½—æ©Â·æ¯”æ©å·´èµ« / ç½—æ©Â·ç¼æ–¯,äºå°”æ ¹Â·ç¦æ ¼å°” / å¼—é›·å¾·é‡Œå…‹Â·åŠ³ / é©¬å…‹æ€Â·é›·è¿ˆç‰¹ / è©¹å¦®å¼—Â·ä¹Œå°”é‡Œå¸Œ / å…‹é‡Œæ–¯è’‚å®‰...,å‰§æƒ… / æƒŠæ‚š,å¾·å›½,å¾·è¯­,107
246,å°èè‰çš„çŒ´ç¥å¤§å”,2015,8.4,404886,å¡æ¯”å°”Â·æ±—,å¡æ¯”å°”Â·æ±— / ç»´æ°è€¶å¾·æ‹‰Â·æ™®æ‹‰è¨å¾·,è¨å°”æ›¼Â·æ±— / å“ˆèè‰Â·é©¬æ´›ç‰¹æ‹‰ / å¡ç³å¨œÂ·å¡æ™®å°” / çº³ç“¦ç¥–ä¸Â·å¸­è¿ªåœ­ / æ¬§å§†Â·æ™®ç‘ ...,å‰§æƒ… / å–œå‰§ / åŠ¨ä½œ,å°åº¦,å°åœ°è¯­,159
247,è¿½éš,1998,8.9,149521,å…‹é‡Œæ–¯æ‰˜å¼—Â·è¯ºå…°,å…‹é‡Œæ–¯æ‰˜å¼—Â·è¯ºå…°,æ°é‡Œç±³Â·è¥¿å¥¥ä¼¯å¾· / äºšå†å…‹æ–¯Â·éœ / éœ²è¥¿Â·æ‹‰å¡å°” / çº¦ç¿°Â·è¯ºå…° / è¿ªå…‹Â·å¸ƒæ‹‰å¾·å¡å°” ...,æ‚¬ç–‘ / æƒŠæ‚š / çŠ¯ç½ª,è‹±å›½,è‹±è¯­,69
248,ç½‘ç»œè°œè¸ª,2018,8.6,430811,é˜¿å°¼ä»€Â·æŸ¥ç”˜è’‚,é˜¿å°¼ä»€Â·æŸ¥ç”˜è’‚ / èµ›å¼—Â·å¥¥å“ˆå°¼å®‰,çº¦ç¿°Â·èµµ / ç±³åˆ‡å°”Â·æ‹‰ / é»›åšæ‹‰Â·æ¢…è¾› / çº¦ç‘Ÿå¤«Â·æ / è¨æ‹‰Â·ç±³åšÂ·å­™ / äºšå†å…‹ä¸...,å‰§æƒ… / æ‚¬ç–‘ / æƒŠæ‚š / çŠ¯ç½ª,ç¾å›½,è‹±è¯­,102
249,é»‘é¹°å è½,2001,8.7,239402,é›·å¾·åˆ©Â·æ–¯ç§‘ç‰¹,è‚¯Â·è¯ºå…° / é©¬å…‹Â·é²ç™»,ä¹”ä»€Â·å“ˆå¥ˆç‰¹ / ä¼Šä¸‡Â·éº¦å…‹æ ¼é›·æ ¼ / æ±¤å§†Â·å¡å…¹æ‘©å°” / é‡‘Â·å¯‡å…¹ / è‰¾æ–‡Â·å¸ƒè±çº³ / ...,åŠ¨ä½œ / å†å² / æˆ˜äº‰,ç¾å›½,è‹±è¯­,144

### 19 è¯»å– JSON æ–‡ä»¶



<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸåŸºé‡‘æ•°æ®.json` æ–‡ä»¶ã€‚

In [62]:
pd.read_json("./æŸåŸºé‡‘æ•°æ®.json")

         å‡€å€¼æ—¥æœŸ   å•ä½å‡€å€¼   ç´¯è®¡å‡€å€¼    æ—¥å¢é•¿ç‡  ç”³è´­çŠ¶æ€  èµå›çŠ¶æ€  åˆ†çº¢é€é…
0  2020-02-13  1.884  1.884  -0.11%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
1  2020-02-12  1.886  1.886   3.34%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
2  2020-02-11  1.825  1.825  -0.16%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
3  2020-02-10  1.828  1.828   1.33%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
4  2020-02-07  1.804  1.804   0.61%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
5  2020-02-06  1.793  1.793   3.11%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
6  2020-02-05  1.739  1.739   1.64%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
7  2020-02-04  1.711  1.711   7.34%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
8  2020-02-03  1.594  1.594  -7.22%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
9  2020-01-23  1.718  1.718  -2.05%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN

### 20 è¯»å– HDF5 æ–‡ä»¶

<br>

`HDF5`æ˜¯ä¸€ç§ç‰¹æ®Šçš„æ–‡ä»¶æ ¼å¼ï¼Œå¸¸è§äºåœ¨å¤§è§„æ¨¡å­˜å‚¨æ•°æ®ä¸Š

å…³äº `pandas` ä¸ `hdf5` æ ¼å¼æ–‡ä»¶çš„æ“ä½œè¾ƒå¤šï¼Œä¸‹é¢ä»…å­¦ä¹ å¦‚ä½•è¯»å–ã€‚

è¯»å–å½“å‰ç›®å½•ä¸‹`store_tl.h5`æ–‡ä»¶

In [5]:
pd.read_hdf("store_tl.h5", "table")

       A    B
0      0    0
1      1    1
2      2    2
3      3    3
4      4    4
..   ...  ...
495  495  495
496  496  496
497  497  497
498  498  498
499  499  499

[505 rows x 2 columns]

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

### 21 ä»å‰ªè´´æ¿è¯»å–æ•°æ®

<br>

æ‰“å¼€å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ï¼Œå…¨é€‰å¹¶å¤åˆ¶ã€‚

ç°åœ¨ç›´æ¥ä»å‰ªè´´æ¿è¯»å–æ•°æ®ã€‚

In [8]:
# pd.read_clipboard

pd.read_clipboard()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

### 22 ä» SQL è¯»å–æ•°æ®

<br>

æœ‰æ—¶æˆ‘ä»¬éœ€è¦ä» `SQL` ä¸­è¯»å–æ•°æ®ï¼Œå¦‚æœå…ˆå°†æ•°æ®å¯¼å‡ºå†`pandas`è¯»å–å¹¶ä¸æ˜¯ä¸€ä¸ªåˆé€‚çš„é€‰æ‹©ã€‚

åœ¨ `pandas` ä¸­æ”¯æŒç›´æ¥ä» `sql` ä¸­æŸ¥è¯¢å¹¶è¯»å–ã€‚

ä¸ºäº†æ–¹ä¾¿ç»Ÿä¸€æ“ä½œï¼Œè¯·å…ˆæ‰§è¡Œä¸‹é¢çš„ä»£ç åˆ›å»ºæ•°æ®ã€‚

In [ ]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                  columns=['int_column', 'date_column'])
df.to_sql('test_data', conn)

ä¸‹é¢å°† `SQL` è¯­å¥ `SELECT int_column, date_column FROM test_data` è½¬æ¢ä¸º `DataFrame`

### 23 ä»ç½‘é¡µè¯»å–æ•°æ®

<br>

ç›´æ¥ä»ä¸œäº¬å¥¥è¿ä¼šå®˜ç½‘è¯»å–å¥–ç‰Œæ¦œæ•°æ®ã€‚

ç›®æ ‡ç½‘ç«™åœ°å€ä¸º `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

æ€è€ƒï¼šä»€ä¹ˆç±»å‹çš„åœ¨çº¿è¡¨æ ¼å¯ä»¥ç›´æ¥è¯»å–ï¼Ÿ

In [9]:
# æŠ¥é”™

pd.read_html("https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm")

ValueError: No tables found

### 24 å¾ªç¯è¯»å–æ•°æ®

<br>

åœ¨æœ¬å°èŠ‚ `demodata` æ–‡ä»¶å¤¹ä¸‹æœ‰å¤šä¸ª `Excel` æ–‡ä»¶ï¼Œè¦æ±‚ä¸€æ¬¡æ€§å¾ªç¯è¯»å–å…¨éƒ¨æ–‡ä»¶

In [30]:
os.listdir(input_path)

['001513_å›æµ‹ç»“æœ.xlsx',
 '002190_å›æµ‹ç»“æœ.xlsx',
 '003096_å›æµ‹ç»“æœ.xlsx',
 '005609_å›æµ‹ç»“æœ.xlsx',
 '005827_å›æµ‹ç»“æœ.xlsx',
 '110022_å›æµ‹ç»“æœ.xlsx',
 '161725_å›æµ‹ç»“æœ.xlsx',
 '163406_å›æµ‹ç»“æœ.xlsx',
 '320007_å›æµ‹ç»“æœ.xlsx',
 '502023_å›æµ‹ç»“æœ.xlsx']

In [26]:
import os 
import glob 
import pandas as pd 

input_path = ".\demodata"

In [29]:
contents = []
for input_file in glob.glob(os.path.join(input_path,"*.xlsx")):
    content = pd.read_excel(input_file)
    contents.append(content)
pd.concat(contents,ignore_index=True)

              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0     2020-01-02  2.92    up      0.000000  20000  NaN  20000.000000
1     2020-01-03  0.51    up      0.000000  20000  NaN  20000.000000
2     2020-01-06  1.98    up      0.000000  20000  NaN  20000.000000
3     2020-01-07  0.17    up      0.000000  20000  NaN  20000.000000
4     2020-01-08 -1.16  down      0.000000  20000  NaN  20000.000000
...          ...   ...   ...           ...    ...  ...           ...
3405  2021-05-26 -0.12  down  20372.810590   4700  NaN  25072.810590
3406  2021-05-27  0.66    up  20507.271140   4700  buy  25207.271140
3407  2021-05-28 -0.30  down  20545.329687   4600  NaN  25145.329687
3408  2021-05-31  0.06    up  20557.656885   4600  buy  25157.656885
3409  2021-06-01  0.42    up  20744.298540   4500  NaN  25244.298540

[3410 rows x 7 columns]

## 1-2 æ•°æ®åˆ›å»º

<br>

é™¤äº†ç›´æ¥è¯»å–æœ¬åœ°æ–‡ä»¶ï¼Œå­¦ä¼šç›´æ¥åˆ›å»ºæ•°æ®æ¡†ä¹Ÿå¾ˆé‡è¦ï¼Œå¸¸è§äºæµ‹è¯•ä¸€äº›å‡½æ•°ï¼Œä¸‹é¢æ˜¯ä»å¸¸è§æ•°æ®ç»“æ„åˆ›å»ºæ•°æ®æ¡†çš„æ–¹æ³•æ•´ç†

### 25 ä»åˆ—è¡¨åˆ›å»º

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šåˆ—åä¸º`"æ—©èµ·Python"`

In [31]:
l = [1,2,3,4,5]

In [37]:
# columns

pd.DataFrame(l,columns=["æ—©èµ·python"])

   æ—©èµ·python
0         1
1         2
2         3
3         4
4         5

### 26 ä»åˆ—è¡¨åˆ›å»ºï½œåµŒå¥—åˆ—è¡¨

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šè¡Œç´¢å¼•ä¸º`"å…¬ä¼—å·","æ—©èµ·Python"`

In [38]:
l = [[1,2,3],[4,5,6]]

In [39]:
# index

pd.DataFrame(l,index=["å…¬ä¼—å·","æ—©èµ·python"])

   0  1  2
0  1  2  3
1  4  5  6

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 27 ä»å­—å…¸åˆ›å»º

æ‰§è¡Œä¸‹æ–¹ä»£ç ï¼Œå¹¶å°†å­—å…¸è½¬æ¢ä¸º`dataframe`

In [3]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [42]:
pd.DataFrame(d)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### 28 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šç´¢å¼•

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`

In [4]:
pd.DataFrame(d,index=["d","b","a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

### 29 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šåˆ—å

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`ï¼Œåˆ—åä¸º`"two", "three"`

In [5]:
pd.DataFrame(d,index=["d","b","a"],columns=["two","three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

### 30 ä»å­—å…¸åˆ›å»ºï½œå­—å…¸åˆ—è¡¨
<br>

å°†ä¸‹æ–¹åˆ—è¡¨å‹å­—å…¸è½¬æ¢ä¸º`dataframe`

æ€è€ƒï¼šå¦‚ä½•æŒ‡å®šè¡Œ/åˆ—ç´¢å¼•ï¼Ÿ

In [6]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [7]:
pd.DataFrame(d)

   a   b     c
0  1   2   NaN
1  5  10  20.0

### 31 ä»é›†åˆåˆ›å»º

<br>

å°†ä¸‹é¢çš„å…ƒç»„è½¬æ¢ä¸º dataframe ä¸”è¡Œåˆ—ç´¢å¼•å‡ä¸º `1,2,3,4`

In [8]:
t =((1,0,0,0,),(2,3,0,0,),(4,5,6,0,),(7,8,9,10,))

In [9]:
pd.DataFrame(t,index=[1,2,3,4])

   0  1  2   3
1  1  0  0   0
2  2  3  0   0
3  4  5  6   0
4  7  8  9  10

## 1-3 æ•°æ®å­˜å‚¨

### 32 ä¿å­˜ä¸º CSV

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

In [10]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",nrows = 20)

In [12]:
data.to_csv("ä¿å­˜ä¸ºcsv.csv",encoding="gbk")

### 33 ä¿å­˜ä¸º CSVï½œæŒ‡å®šåˆ—

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”åªä¿ç•™`positionNameã€salary`ä¸¤åˆ—

In [13]:
data.to_csv("ä¿å­˜ä¸ºcsv2.csv",encoding="gbk",columns=["positionName","salary"])

### 34 ä¿å­˜ä¸º CSVï½œå–æ¶ˆç´¢å¼•

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”å–æ¶ˆæ¯ä¸€è¡Œçš„ç´¢å¼•

In [14]:
data.to_csv("ä¿å­˜ä¸ºcsv2.csv",encoding="gbk",index=False)

### 35 ä¿å­˜ä¸º CSVï½œæ ‡è®°ç¼ºå¤±å€¼

<br>

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåœ¨ä¿å­˜çš„åŒæ—¶ï¼Œå°†ç¼ºå¤±å€¼æ ‡è®°ä¸º`'æ•°æ®ç¼ºå¤±'`

In [15]:
data.to_csv("ä¿å­˜ä¸ºcsv2.csv",encoding="gbk",index=False,na_rep="æ•°æ®ç¼ºå¤±")

### 36 ä¿å­˜ä¸ºCSVï½œå‹ç¼©

<br>

å°†ä¸Šä¸€é¢˜çš„æ•°æ®ä¿å­˜è‡³ `zip` æ–‡ä»¶ï¼Œè§£å‹åå‡ºç° `out.csv`

In [ ]:
data.to_csv()

### 37 ä¿å­˜ä¸º Excel 

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `xlsx` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

### 38 ä¿å­˜ä¸º JSON

å°†ä¹‹å‰çš„æ•°æ®ä¿å­˜ä¸º `json` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

### 39 ä¿å­˜ä¸º Markdown

å°†ä¹‹å‰æ•°æ®è½¬æ¢ä¸º `markdown` å½¢å¼è¡¨æ ¼ï¼Œè¿™æ ·å¯ä»¥ç›´æ¥å¤åˆ¶è¿› `.md` æ–‡ä»¶ä¸­ä½¿ç”¨

### 40 ä¿å­˜ä¸º Html

å°†ä¹‹å‰çš„æ•°æ®ä¿å­˜ä¸º `html` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œå¹¶è¿›è¡Œå¦‚ä¸‹è®¾ç½®
- å–æ¶ˆè¡Œç´¢å¼•
- æ ‡é¢˜å±…ä¸­å¯¹é½
- åˆ—å®½100

In [ ]:
data.to_html("out.html",index=False,)

In [ ]:
data.to_csv()

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)